@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.textShadow {
  text-shadow: rgb(108, 108, 108) 2px 5px;
  font-size: 60px;
}

.embossed-text {
  font-weight: bold;
  padding: 5px;
  text-shadow: 
    -1px -1px 1px #0b0b0b14, 
    2px 2px 1px #000000ab;
}


::selection {
  background-color: #727272;

}

::-moz-selection {
  background-color: #727272;
 
}


.strokeheadline {
 font-family: sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #4b4b4e;
  z-index: 99;
  
}